body{
    width: 100vw;
    height: 100vw;
    
    color: rgb(215, 209, 209);
    background-color: rgba(13, 91, 147, 0.9);
 
}
#map {
    height: 98%;
    width: 98%;
    margin: 0;
    padding: 0;
  }
  
 
  